---
import { IoMailOutline } from "react-icons/io5";
import { SOCIALS } from "@config";
import Socials from "@components/molecules/Socials.astro";

const socialCount = SOCIALS.filter(social => social.active).length;
---


<section id="hero">
	<div class="flex flex-1 flex-col sm:pr-6">
		<div>
			<h2 class="font-semibold">Jessy Justice Julien Baki</h2>
			<p class="text-neutral-300">Software Engineer</p>
		</div>

		<br />

		<div>
			<p class="text-justify">
				Senior-year Computer Engineering student at Kwame Nkrumah University of Science and Technology with a passion for architecting secure, scalable systems that make a difference. Skilled in JavaScript, TypeScript, Python, and expanding my knowledge base with Golang. Eager to dive deeper into the intricacies of DevOps and Cloud Engineering.
			</p>
			<br />
			<p class="text-justify">
				I thrive on challenges and believe in learning through hands-on experience. Whether it's a complex project or an unfamiliar tech stack, I'm always ready to dive in and expand my skills.
			</p>
			<br />
			<p class="text-justify">
			When I'm not coding, you will find me immersed in animes, shooting hoops, tickling the ivories, lost in a good book or philosophical works of Voltaire and Nietzsche.
			</p>
			<p class="text-justify">
				Learning is my lifeblood – it's how I stay alive in this ever-evolving digital landscape.
				Let's build something extraordinary together!
			</p>

			<div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-5 mt-8 mb-5">
				<div class="flex items-center gap-3">
						<a
							class="flex border px-3 py-2 rounded-md border-gray-700 font-light text-sm items-center gap-1 hover:scale-110 hover:text-skin-accent transition ease-in-out duration-250"
							href="mailto:bakijessy@gmail.com"
							target="_blank"
							rel="noopener noreferrer"
						>
						<IoMailOutline size="0.85rem">
							Contact Me
						</a>

						<a
							class="flex border px-3 py-2 rounded-md border-gray-700 font-light text-sm items-center gap-1 hover:scale-110 hover:text-skin-accent transition ease-in-out duration-250"
							href=""
							target="_blank"
							rel="noopener noreferrer"
						>
							Resume
						</a>
				</div>

				<div class="flex items-center gap-3">
					{
						// only display if at least one social link is enabled
						socialCount > 0 && (
							<div class="social-wrapper">
								<Socials />
							</div>
						)
					}
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	  /* ===== Hero Section ===== */
		#hero {
    @apply flex sm:flex-row sm:pb-12 sm:pt-12 flex-col items-end pb-12 pt-12;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
</style>
