---
---

<section class="giscus mx-auto mt-10 w-full"></section>

<!--  TODO: only activate the script on production  -->
<!-- <script
  src="https://giscus.app/client.js"
  data-repo="blackdreamer15/Baki"
  data-repo-id=""
  data-category="Blog posts"
  data-category-id=""
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="transparent_dark"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script> -->
